.Name
	{
		color:#00008B ;
		font-size: 30px;
		text-align: justify;
		background-color:#FFF8DC;
        border: 4px solid #48D1CC ;
		 
        
	}

	.Class
	{
		color:#00008B ;
		font-size: 30px;
		text-align: justify;
		background-color:#FFF8DC;
        border: 4px solid #48D1CC ;
        
	}

	.Section
	{
		color:#00008B ;
		font-size: 30px;
		text-align: justify;
		background-color:#FFF8DC;
        border: 4px solid #48D1CC ;
        
	}

	.Roll
	{
		color:#00008B ;
		font-size: 30px;
		text-align: justify;
		background-color:#FFF8DC;
        border: 4px solid #48D1CC ;

	}

	.Email
	{
		color:#00008B ;
		font-size: 30px;
		text-align: justify;
		background-color:#FFF8DC;
        border: 4px solid #48D1CC ;
	}

	.Password
	{
		color:#00008B ;
		font-size: 30px;
		text-align: justify;
		background-color:#FFF8DC;
        border: 4px solid #48D1CC ;

	}

	.Gender
	{
		color:#00008B ;
		font-size: 30px;
		text-align: justify;
		background-color:#FFF8DC;
        border: 4px solid #48D1CC ;
	}

	.Country
	{
		color:#00008B ;
		font-size: 30px;
		text-align: justify;
		background-color:#FFF8DC;
        border: 4px solid #48D1CC ;
	}

	.Bio
	{
		color:#00008B ;
		font-size: 30px;
		text-align: justify;
		background-color:#FFF8DC;
        border: 4px solid #48D1CC ;
	}
	#button
	{
		background-color: #FFF8DC; 
    border:solid #48D1CC ;
    color: #00008B;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	
	}
	#button.hover
	{
		 background-color: #4CAF50; /* Green */
         color: black;
         box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
	.body
	{
		background-color: green;
	}
